@charset "utf-8";

* {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
  }

body {
	width: 100%;
	height: 100%;
	background-color: rgb(0, 0, 0);
	color: rgb(255, 255, 255);
	font-family: "Segoe UI", Arial, sans-serif;
	font-size: 1em;
	line-height: 135%;
}

#p_prldr{
	position: fixed;
	left: 0;
	top: 0;
	right:0;
	bottom:0;
	background: rgb(126, 10, 10);
	z-index: 30;}
	 
	.contpre small{font-size:25px;}
	 
	.contpre{
	width: 250px;
	height: 100px;
	position: absolute;
	left: 50%;top: 48%;
	margin-left:-125px;
	margin-top:-75px;
	color:rgb(255, 238, 0);
	font-size:40px;
	letter-spacing:-2px;
	text-align:center;
	line-height:35px;}
	 
	#p_prldr .svg_anm {
	position: absolute;
	width: 41px;
	height: 41px;
	background: url(img/oval.svg) center center no-repeat;
	background-size:41px;    
	margin: -16px 0 0 -16px;}
}

header {
	height: 60px;
	display: block;
}

.logo {
	display: flex;
	justify-content: space-evenly;
	align-items: center;
}

nav {
	display: flex;
	justify-content: space-evenly;
	align-items: center;
}

section {
	display: flex;
	justify-content: center;
	align-items: space-evenly;
}

footer {
	height: 60px;
	display: block;
}

.wrapper {
	display: flex;
	justify-content: space-evenly;
	align-items: center;
}

a {
	color: #38484;
	text-decoration: none;
	-webkit-transition: all.6s ease;
	-moz-transition: all.6s ease;
	-o-transition: all.6s ease;
	-ms-transition: all.6s ease;
	transition: all.6s ease;
}

a:hover {
	color: #efdea0;
}

a, a:hover {
	-webkit-transition: all.6s ease;
	-moz-transition: all.6s ease;
	-o-transition: all.6s ease;
	-ms-transition: all.6s ease;
	transition: all.6s ease;
}
